<div class="container card white-bg">
  <h2 class="text-grey padding-16">
    <i class="fa fa-certificate fa-fw margin-right xxlarge text-choco"></i><%=cv.education.title %>
  </h2>
  <%cv.education.data.forEach(ele=>{%>
  <div class="container">
    <h5 class="opacity">
      <b><%- ele.title %></b>
    </h5>
    <h6 class="text-choco">
      <i class="fa fa-calendar fa-fw margin-right"></i><%=ele.from_date %> <%=ele.to_date %>
      <small><%= ele.extra %></small>
    </h6>
    <hr />
  </div>

  <% }) %>
</div>
