<div class="container card white-bg margin-bottom">
    <h2 class="text-grey padding-16"><i
            class="fa fa-suitcase fa-fw margin-right xxlarge text-choco"></i> <%= cv.experience.title %>
    </h2>
    <% cv.experience.jobs.forEach(ele=>{ %>
        <div class="container">
            <h5 class="opacity"><b><%= ele.title %></b></h5>
            <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i><%=ele.from_date %> - <%= ele.to_date%></h6>
            <p>
                <ul>
                    <% ele.tasks.forEach(el=>{%>
                        <li><%=el%></li>
                        

                   <% })%>
                   
                </ul>
            </p>
            <hr>
        </div>


  <%  })%>
    
   
</div>